<h1>About</h1>
<p>
  This is a sample application that we're walking through at <a href = 'http://uwcoffeencode.com/'><em>UW Coffee 'N Code</em></a>, thanks to the <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>.
</p>