<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for our sample app.
  </h2>
  <p>
		<%= image_tag("my_image.jpg", :alt => "my image", id: "my_image", class:"center") %>
	</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>